
// Позиционирование блока ученый совет

.page {
	&__council{
        margin-bottom: 114px;
        
        @media (max-width: 1390px) {
            margin-bottom: 0;
        }
    }
}

// Блок ученый совет

.council{
	overflow: hidden;
	
	&__title{
		margin-bottom: 62px;
		
		font: 400 24px/27px Russia;

		color: #FFF;
	}

	&__breadcrumbs{
		margin-bottom: 8px;
	}

	&__tabs{
		padding: 19px;
	}
}

//  Блок табы

.tabs{
    &__list--council{
        margin-bottom: 43px;
    }
    
    &__item--council{
        margin-right: 32px;
        padding: 16px 36px 18px 18px;

    }

    &__content--council {
        padding-bottom: 30px;
    }

}

//  Блок текущий

.council-current {  
    &__title {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 10px;
        margin-bottom: 37px;
        
        font: 400 26px/26px Russia;
        word-break: break-word;
        overflow: hidden;

        color: #6E7781;

        @media (max-width: 479px) {
            flex-direction: column;
            align-content: center;
        }
        
        &:after{
            content: '';
            align-self: center;
            flex-grow: 1;
            margin-left: 20px;

            height: 1px;

            background: #E4ECFA;
        }
    }

    &__title-date{
        display: block;
        padding-left: 6px;

        @media (max-width: 479px) {
            padding-top: 10px;
            padding-left: 0;
        }
    }

    &__info{
        margin-left: 12px;
        margin-bottom: 29px;
    }

    &__content{
        margin-left: 12px;
        
    }
}

// Блок инфо

.current-info {
    background: #F1F4F9;
    border-radius: 4px;

    @media (max-width: 1390px) {
        background: #fff;
    }
   
    &__date,  &__geo, &__time, &__file  {
        display: flex;
        align-items: center;

        @media (max-width: 1390px) {
            padding: 0 10px;
        }
    }

    &__file{
        margin-left: auto;

        @media (max-width: 1390px) {
            margin: 5px 0 5px 0;
        }

        @media (max-width: 479px) {
            margin: 10px  auto;
        }
    }

    &__date-title, &__time-title, &__geo-title {
        padding: 15px 0;
        font: 400 16px/26px Russia;
        word-break: break-word;
        overflow: hidden;

        color: #444444;
    }

    &__date-title{
        margin-right: 48px;
    }

    &__time-title{
        margin-right: 65px;
    }

    &__file-btn {
        display: flex;
        margin-right: 14px;
        padding: 9px 26px 9px 0;

        font: 400 16px/26px Russia;
        word-break: break-all;
        overflow: hidden;

        color: #3464E0;

        border: 1px solid #3464E0;
        border-radius: 4px;

    }

    &__date-icon, &__geo-icon, &__time-icon {
        width: 24px;
        height: 24px;
        
        fill: #3464E0;
    }

    &__date-icon {
        margin-left: 17px;
        margin-right: 11px;
        
        @media (max-width: 1390px) {
            margin-left: 0;
        }
    }

    &__time-icon {
        margin-right: 11px;
    }

    &__geo-icon{
        margin-right: 14px;
    }

    &__file-icon{
        margin-left: 20px;
        margin-right: 11px;
        width: 20px;
        height: 20px;
        align-self: center;
        
        fill: #3464E0;
    }
}

// Блок контентной части

.council-content{
    display: flex;
    flex-direction: column;
 }
 
 .accordion {
     &__input{
        display: none;
    }
 }

// Блок детализация поездки

.detailing{
    position: relative;

    margin-bottom: 36px;

    overflow: hidden;

    @media (max-width: 1390px) {
        margin-bottom: 0;
    }

    &::after, &::before {       
        content: '';

        position: absolute;

        background: #C3CAD6;
    }

    &::after {
        top: 31px;
        right: 14px;

        width: 17px;
        height: 1px;
    }

    &::before{
        top: 23px;
        right: 22px;

        width: 1px;
        height: 17px;
    }

    &.active::after {
        width: 17px;
        height: 1px;
    }

    &.active::before{
        width: 0;
        height:0;
    }

    &__title{
        display: flex;
        align-items: center;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 17px;
        padding: 17px 36px 17px 20px;

        font: 400 22px/26px Russia;
        word-break: break-all;
        overflow: hidden;
        
        color: #444444;

        background: #F1F4F9;
        border-radius: 4px;

        @media (max-width: 479px) {
            font-size: 14px;
        }
    }

    &__content{
        @media (max-width: 1390px) {
            overflow-x: scroll;
        }
    }

    &__btn{
        position: absolute;
        top: 12px;
        left: 259px;
        
        width: 115px;
        height: 38px;

        font: 400 14px/26px Russia;
        word-break: break-word;
        overflow: hidden;

        color: #2BC584;

        background: #F1F4F9;

        border: 1px solid #2BC584;
        border-radius: 4px;

        @media (max-width: 479px) {
            display: none;
        }
    }

}

// Блок  подтвержденный состав

.composition {
    position: relative;

    &::after, &::before {       
        content: '';

        position: absolute;

        background: #C3CAD6;
    }

    &::after {
        top: 29px;
        right: 14px;

        width: 17px;
        height: 1px;
    }

    &::before{
        top: 21px;
        right: 22px;

        width: 1px;
        height: 17px;
    }

    &.active::after {
        width: 17px;
        height: 1px;
    }

    &.active::before{
        width: 0;
        height:0;
    }

    &__title{
        display: flex;
        align-items: center;
        flex-basis: 100%;
        margin-right: 0;
        padding: 17px 36px 17px 20px;

        font: 400 22px/26px Russia;
        word-break: break-word;
        overflow: hidden;
        
        color: #444444;

        background: #F1F4F9;
        border-radius: 4px;

        @media (max-width: 479px) {
            font-size: 14px;
        }
    }
}

// Таблица блока детализации поездки

.detailing-table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 938px;
    
    
    &__head{
        font: 500 16px/24px Russia;
        word-break: break-all;
        overflow: hidden;

        // height: 80px;

        text-align: left;
        
        color: #444444;

        // overflow-Y: auto;s
    }
    

    &__body{
        font: 400 16px/26px Russia;
        overflow: hidden;
        
        color: #444444;
    }

    &__row{
        // height: 120px;
        border-bottom: 2px solid #F1F4F9;
    }

    &__row--head{
        width: 938px;
        padding-bottom: 20px;
        height: 0;
    }

    &__row--head > &__cell:nth-child(1) {
        padding-top: 25px;
        padding-left: 16px;
        padding-bottom: 13px;
        width: 319px;
    }

    &__row--head > &__cell:nth-child(2) {
        padding-top: 24px;
        padding-left: 30px;
        padding-bottom: 13px;
        width: 140px;
    }

    &__row--head > &__cell:nth-child(3) {
        padding-left: 32px;
        width: 218px;    
    }

    &__row--head > &__cell:nth-child(4) {
        padding-top: 25px;
        padding-left: 35px;
        padding-bottom: 13px;      
        width: 110px;
    }

    &__row--head > &__cell:nth-child(5) {
        padding-left: 5px;        
        width: 150px;
    }

    
    &__cell{
        position: relative;
        // outline: 1px solid black;
        word-break: break-word;
        
        // max-width: 269px;

        @media (max-width: 1390px) {
            // padding: 0px 10px 0 0;
            // max-width: 0;
        }
    }

    &__row--body > &__cell {
        padding-bottom: 24px;
    }

    &__row--body> &__cell:nth-child(1) {
        padding-top: 26px;
        padding-left: 55px;

        line-height: 22px;
    }

    &__row--body> &__cell:nth-child(2) {
        padding-top: 26px;
        padding-left: 29px;
    }

    &__row--body> &__cell:nth-child(3) {
        padding-top: 29px;
        padding-left: 32px;

        line-height: 22px;
    }

    &__row--body> &__cell:nth-child(4) {
        padding-top: 26px;
        padding-left: 37px;
    }

    &__row--body> &__cell:nth-child(5) {
        padding-top: 26px;
        padding-left: 24px;
    }

    &__btn{
        position: absolute;
        top: 26px;
        left: 8px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 11px;
        
        width: 28px;
        height: 28px;

        background: #F1F4F9;

        border-radius: 50%;

        &:nth-child(2) {
            top: 65px;
        }
    }

    &__btn-edit {
        width: 12px;
        height: 12px;
        
        fill: #3464E0;
    }

    &__btn-del{        
        width: 12px;
        height: 12px;

        
        &:before, &:after {
            content: '';
            position: absolute;
    
            height: 12px;
            width: 1px;
            background: #E06364;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }


    &__result-icon{
        margin-right: 6px;
        width: 36px;
        height: 36px;

        fill: #3464E0;   
    }

    &__btn-result{
        display: flex;
        align-items: center;

        font: 400 16px/26px Russia;
        
        color: #3464E0;

        background: #fff;
    }
}



