.footer{
    padding: 22px 0 20px 0;
    background: #6E7781;
    

    &__title, &__contacts, &__email, &__report{
        font: 400 16px/26px Russia;
        word-break: break-word;
        overflow: hidden;

        color: #C3CAD6;
    }

    &__email{
        color: #fff;
    }

    &__report {
        color: #fff;
    }
}
//====================================================================================================

//====================================================================================================

